<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ParkSS.Properties.Settings.ConnectionStr" connectionString="Data Source=3653599d-bff4-4ebb-8a25-a9a7010c43dd.sqlserver.sequelizer.com;Initial Catalog=db3653599dbff44ebb8a25a9a7010c43dd;User ID=qivpoyaenujlenov;Password=Trb7FPHZ3F8py727GTSGJVoLdMAu8vufytUEERT7U8Rb8SSF6w3zWap7dw42ooZE"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>